body{
    
    margin-left: 20%;
    background-color: goldenrod;
    font-size: 10px;
    
}


.selector h1{

    padding: 20px;
   color: white;
  
    
}
.input p{
    
    box-sizing: border-box;
    border:1px solid  white;
    cursor: pointer;
    font-size: 18px;
    background-color: aliceblue;
    color: black;
    width:30%;
    height: 6%;   
    
}


ul {
     
    box-sizing: border-box flex;
    padding: 3px;
    width:30%;
    height:11%;
    background-color: white;
    color:rgb(22, 42, 42);
    list-style-type:none;
    display: none;
    
}
list li{
    box-sizing: border-box;

    width:30%;
    height:5%;
   
    background-color:white;
    
}

li:hover{
    background-color:blue;
    
}
button{
    background-color: rgb(75, 227, 48);
    margin-left: 10%;
    width: 80px;
    height:40px;
    border: 1px solid white;
    border-radius: 9%;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}
button:hover{
    background-color: black;
    color: white;
}

span{
    padding-left:10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:black;
}
ul span:hover{
    color: rgb(208, 255, 0);

}

img {
    width:30px;
    height:20px;

    

}
a{
    color: aliceblue;
    width: 10px;
    height: 10px;
}
